body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 10vh 5vw;
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 90vw;
  height: 5vh;
  margin-bottom: 1vh;
  padding: 1vh 2vw;
  border: none;
  font-size: 2vh;
  background-color: #e1e1e1;
}
h1{
  font-size: 6vh;
}